@{
    Layout="_Layout_Home";
}

<body style="background-color: #E7E7E7;">  

    <div style="margin-top: 200px;">

        <div style="text-align: center;">
            <h2>Bienvenidos a SEIA STORE</h2>
            <br>
            <h3>¡Ingrese un nuevo producto para empezar!</h3>
        </div> 

        <div style="text-align: center; margin-top: 30px;">
            <a asp-controller="Home" asp-action="RegistroProductos"> 
            <button type="button" class="btn btn-secondary">Nuevo Producto</button>
            </a>
        </div>
        
    </div>
    
</body>